body{
    height: 100vh;
    width: 100vw;
}

/* \\everything within header\\ */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 216pt;
}

img#salonLogo{
    height: 153pt;
    width: 427pt;
    margin-top: 14pt;
}

nav{
    word-spacing: 32px;
    margin-top: 6pt;
    margin-left: 21pt;
}

a{
    font-family: 'Gloock', serif;
    color: black;
    text-decoration: none;
}

/* text and image allignment */
h1{
    grid-row: 1/2;
    background-color: black;
    color: white;
    height: 66px;
    width: 183px;
    font-size: 50px;
    margin-left: 634pt;
    padding: 14px 6px 0 43px;
    font-family: 'Gloock', serif; 
}

section{
    display: flex;
    border: 2px solid #f2f2f0;
    width: 855px;
    margin-top: 30px;
    margin-left: 519px;
    padding-right: 20px;
}

section img{
    height: 279px;
    border: 2px solid #f2f2f0;
}

.text{
    width: 600px;  
    margin-top: 40px;
    text-align: center; 
 }

 p.title{
    font-weight: bold;
    font-size: 30px;
 }

 p.innerText{
    margin-top: 20px;
    margin-left: 27px;
    line-height: 25px;
 }

 button{
    margin-top: 32px;
    color: #fff;
    background-color: #FFBF00;
    border-color: #FFBF00;
    height: 41px;
    width: 118px;
 }

/* Below is all footer design */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 57px 0 42px;
    background-color: #f2f2f0;
    width: 100vw;
}

span{
    padding-left: 429px;
}

ul{
    display: flex;
    padding-right: 362px;
    gap: 20px;
}

li.twitter {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
}

li.facebook{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -45px;
}

li.google {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -90px;
}


li.pinterest{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -134px;
}

@media(min-width: 500px){
    h1{
        margin-left: 113pt;
    }

    section{
        margin-left: 10px;
        width: 463px;
    }

    section img {
        height: 133px;
    }

    .text {
        margin-top: 18px;
    }

    p.title {
        font-size: 20px;
        padding-top: 20px;
    }

    p.innerText {
        font-size: 0px;
    }

    button {
        margin-top: -19px;
        height: 31px;
        width: 106px;
        margin-bottom: 10px;
    }

    #top{
        margin-top: 68px;
    }

    footer {
        margin-top: 142px;
    }
    
    span{
        padding-top: 10px;
        padding-left: 10px;
    }
    
    ul{
        padding-right: 0px;
        margin-right: 22px;
        gap: 9px;
    }

    li.twitter {
    height:  40px;
    width: 40px;
    }
    
    li.facebook{
        height:  40px;
        width: 40px;
    }
    
    li.google {
        height:  40px;
        width: 40px;
    }
    
    
    li.pinterest{
        height:  40px;
        width: 40px;
    }
}