body{
    height: 100vh;
    width: 100vw;
}

/* \\everything within header\\ */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 216pt;
}

img#salonLogo{
    height: 153pt;
    width: 427pt;
    margin-top: 14pt;
}

nav{
    word-spacing: 32px;
    margin-top: 6pt;
    margin-left: 21pt;
}

a{
    font-family: 'Gloock', serif;
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: black;
    color: white;
    height: 61px;
    width: 501px;
    font-size: 45px;
    margin-left: 22pt;
    padding: 14px 6px 0 43px;
    font-family: 'Gloock', serif; 
}

input{
    height: 55px;
    width: 453px;
    margin-top: 20pt;
    text-align: center;
}

#messageBox{
    height: 150px;
}

button{
    margin-top: 32px;
    color: #fff;
    background-color: #FFBF00;
    border-color: #FFBF00;
    height: 41px;
    width: 118px;
    margin-left: 126pt;
}

/* Below is all footer design */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 57px 0 42px;
    background-color: #f2f2f0;
    width: 100vw;
}

span{
    padding-left: 429px;
}

ul{
    display: flex;
    padding-right: 362px;
    gap: 20px;
}

li.twitter {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
        height:  44px;
        width: 44px;
        margin: 0;
        padding: 0;
        text-indent: -99999px;
}

li.facebook{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -45px;
}

li.google {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -90px;
}


li.pinterest{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -134px;
}

@media(min-width:500px){

    h1 {
        width: 398px;
        font-size: 35px;
        margin-left: 8pt;
        padding: 18px 0px 0 31px;
    }

    footer {
        margin-top: 142px;
    }
    
    span{
        padding-top: 10px;
        padding-left: 10px;
    }
    
    ul{
        padding-right: 0px;
        margin-right: 22px;
        gap: 9px;
    }

    li.twitter {
    height:  40px;
    width: 40px;
    }
    
    li.facebook{
        height:  40px;
        width: 40px;
    }
    
    li.google {
        height:  40px;
        width: 40px;
    }
    
    
    li.pinterest{
        height:  40px;
        width: 40px;
    }
}

@media(min-width:1200px){
    footer {
        margin-top: 133px;
    }

    span {
        padding-left: 174px;
    }

    ul {
        margin-right: 220px;
        gap: 18px;
    }
}

@media(min-width:1900px){

    h1{
        width: 501px;
        font-size: 45px;
        margin-left: 22pt;
        padding: 14px 6px 0 43px;
    }
    
    footer{
        margin-top: 50px;
        padding: 57px 0 42px;
        width: 100vw;
    
    }
    
    span{
        padding-left: 591px;
    }
    
    ul{
        padding-right: 362px;
        gap: 20px;
    }
    
    li.twitter {
        height:  44px;
        width: 44px;
    }
    
    li.facebook{
        height:  44px;
        width: 44px;
    }

    li.google {
        height:  44px;
        width: 44px;
    }
    
    
    li.pinterest{
        height:  44px;
        width: 44px;
    }

}