body{
    height: 100vh;
    width: 100vw;
}

/* \\everything within header\\ */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 216pt;
}

img#salonLogo{
    height: 153pt;
    width: 427pt;
    margin-top: 14pt;
}

nav{
    word-spacing: 32px;
    margin-top: 6pt;
    margin-left: 21pt;
}

a{
    font-family: 'Gloock', serif;
    color: black;
    text-decoration: none;
}

/* This is the grid in page  */
.gridContainer{
    display: grid;
    grid-template-rows: 60% 40%;
    position: relative;
    }

/* This is main picture and the wording displayed on top of picture */
    img#backgroundPicture{
    height: 558pt;
    width: 100vw;
    grid-row: 1/2;
}

p.imageText{
    grid-row: 1/2;
    position: absolute;
    font-family: 'Gloock', serif;
    font-size: 20px;
}

#white{
    margin-top: 9%;
    margin-left: 50%;
    background-color: white;
    height: 44px;
    width: 425px;
    font-size: 30px;
    padding-top: 18pt;
    padding-left: 24pt;
}

#black{
    margin-top: 14%;
    margin-left: 50%;
    background-color: black;
    color: white;
    height: 34px;
    width: 472px;
    padding-top: 7pt;
    padding-left: 13pt;
}

#black2{
    margin-top: 18%;
    margin-left: 50%;
    background-color: black;
    color: white;
    height: 33px;
    width: 437px;
    padding-top: 7pt;
    padding-left: 13pt;
}

#black3{
    margin-top: 22%;
    margin-left: 50%;
    background-color: black;
    color: white;
    height: 31px;
    width: 332px;
    padding-top: 7pt;
    padding-left: 13pt;
}

button{
    grid-row: 1/2;
    position: absolute;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    margin-top: 26%;
    margin-left: 50%;
    color: #fff;
    background-color: #FFBF00;
    border-color: #FFBF00;
    height: 60px;
    width: 130px;
}

/* This .bottomRow is the bottom row of the grid.
It contains the 3 displayed pictures with picture names */

.bottomRow{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 41pt;
}

/* Picture with text allignment */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

/* .left is BLONDES */
.left{
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 348pt;
}

/* .middle is BRUNETTES */
.middle{
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 148pt;
}

/* .right is WILD ONES */
.right{
    grid-row: 2/3;
    grid-column: 3/4;
    margin-left: -71px;
}

/* This is size and border for display pictures */
img.showCase{
    height: 230pt;
    width: 250pt;
    border: 2px solid #f2f2f0;
}

/* This is font, size, and allignment of text under display pictures */
section p{
    font-family: 'Gloock', serif;
    font-size: 25px;
    padding-left: 73px;
    letter-spacing: 5px;
}

.left p{
    width: 200px;
    padding-left: 89px;
}

/* Below is all footer design */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 57px 0 42px;
    background-color: #f2f2f0;
    width: 100vw;

}

span{
    padding-left: 429px;
}

ul{
    display: flex;
    padding-right: 362px;
    gap: 20px;
}

li.twitter {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
        height:  44px;
        width: 44px;
        margin: 0;
        padding: 0;
        text-indent: -99999px;
}

li.facebook{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -44px;
}

li.google {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -88px;
}


li.pinterest{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -132px;
}

@media (max-width: 576px) {
            
    /* This is the grid */    
    /* This is main picture and the wording displayed on top of picture */
    
    p.imageText{
        font-size: 18px;
    }
    
    #white{
        margin-top: 31px;
        margin-left: 93px;
        width: 402px;
        font-size: 30px;
        padding-top: 18pt;
        padding-left: 15pt;
    }
    
    #black{
        margin-top: 112px;
        margin-left: 60px;
        height: 31px;
        width: 436px;
        padding-left: 16pt;
    }
    
    #black2{
        margin-top: 162px;
        margin-left: 102px;
        width: 398px;
        padding-top: 7pt;
        padding-left: 13pt;
    }
    
    #black3{
        margin-top: 210px;
        margin-left: 193px;
        width: 307px;
        padding-top: 8pt;
    }
    
    button{
        padding-left: 6pt;
        margin-top: 288px;
        margin-left: 335px;
        height: 45px;
        width: 131px;
    }
    
    /* This .bottomRow is the bottom row of the grid.
    It contains the 3 displayed pictures with picture names */
    
    .bottomRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -187pt;
    /* grid-template-columns: 33% 33% 33%;
        margin-top: 41pt; */
    }
    
    /* Picture with text allignment */
    section{
        gap: 13px;
        }
    
    /* .left is BLONDES */
    .left{
        padding-left: 0px;
    }
    
    /* .middle is BRUNETTES */
    .middle{
        padding-left: 0px;
    }
    
    /* .right is WILD ONES */
    .right{
        margin-left: 0px;
    }
    
    /* This is size and border for display pictures */
    img.showCase{
        margin-top: 38px;
        }
    
    /* This is font, size, and allignment of text under display pictures */
    section p{
        font-size: 20px;
    }
        
    /* Below is all footer design */
    footer{
        margin-top: 364px;
    }
    
    span{
        padding-top: 10px;
        padding-left: 10px;
    }
    
    ul{
        padding-right: 0px;
        margin-right: 22px;
        gap: 9px;
    }

    li.twitter {
            height:  40px;
            width: 40px;
    }
    
    li.facebook{
        height:  40px;
        width: 40px;
    }
    
    li.google {
        height:  40px;
        width: 40px;
    }
    
    
    li.pinterest{
        height:  40px;
        width: 40px;
    }
    
}

@media (min-width: 800px ) {
    /* This is the grid */    
    /* This is main picture and the wording displayed on top of picture */
    
    p.imageText{
        font-size: 18px;
    }
    
    #white{
        margin-top: 31px;
        margin-left: 333px;
        width: 402px;
        font-size: 30px;
        padding-top: 18pt;
        padding-left: 15pt;
    }
    
    #black{
        margin-top: 112px;
        margin-left: 298px;
        height: 31px;
        width: 436px;
        padding-left: 16pt;
    }
    
    #black2{
        margin-top: 162px;
        margin-left: 340px;
        width: 398px;
        padding-top: 7pt;
        padding-left: 13pt;
    }
    
    #black3{
        margin-top: 210px;
        margin-left: 429px;
        width: 307px;
        padding-top: 8pt;
    }
    
    button{
        padding-left: 6pt;
        margin-top: 288px;
        margin-left: 620px;
        height: 45px;
        width: 131px;
    }
    
    /* This .bottomRow is the bottom row of the grid.
    It contains the 3 displayed pictures with picture names */
    
    .bottomRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -187pt;
    /* grid-template-columns: 33% 33% 33%;
        margin-top: 41pt; */
    }
    
    /* Picture with text allignment */
    section{
        gap: 13px;
        }
    
    /* .left is BLONDES */
    .left{
        padding-left: 0px;
    }
    
    /* .middle is BRUNETTES */
    .middle{
        padding-left: 0px;
    }
    
    /* .right is WILD ONES */
    .right{
        margin-left: 0px;
    }
    
    /* This is size and border for display pictures */
    img.showCase{
        margin-top: 38px;
        }
    
    /* This is font, size, and allignment of text under display pictures */
    section p{
        font-size: 20px;
    }
        
    /* Below is all footer design */
    footer{
        margin-top: 364px;
    }
    
    span{
        padding-top: 10px;
        padding-left: 10px;
    }
    
    ul{
        padding-right: 0px;
        margin-right: 22px;
        gap: 9px;
    }

    li.twitter {
            height:  40px;
            width: 40px;
    }
    
    li.facebook{
        height:  40px;
        width: 40px;
    }
    
    li.google {
        height:  40px;
        width: 40px;
    }
    
    
    li.pinterest{
        height:  40px;
        width: 40px;
    }

}

@media (min-width: 1200px) {
    img#backgroundPicture{
        height: 558pt;
        width: 100vw;
        grid-row: 1/2;
    }
    
    p.imageText{
        grid-row: 1/2;
        position: absolute;
        font-family: 'Gloock', serif;
        font-size: 20px;
    }
    
    #white{
        margin-top: 64px;
        margin-left: 50%;
        height: 44px;
        width: 425px;
        font-size: 30px;
        padding-top: 18pt;
        padding-left: 24pt;
    }
    
    #black{
        margin-top: 149px;
        margin-left: 50%;
        height: 34px;
        width: 472px;
        padding-top: 7pt;
        padding-left: 13pt;
    }
    
    #black2{
        margin-top: 201px;
        margin-left: 50%;
        height: 33px;
        width: 437px;
        padding-top: 7pt;
        padding-left: 13pt;
    }
    
    #black3{
        margin-top: 251px;
        margin-left: 50%;
        height: 31px;
        width: 332px;
        padding-top: 7pt;
        padding-left: 13pt;
    }

    button{
        grid-row: 1/2;
        position: absolute;
        padding-top: 5pt;
        padding-bottom: 5pt;
        padding-left: 5pt;
        margin-top: 26%;
        margin-left: 50%;
        height: 60px;
        width: 130px;
    }

    .bottomRow{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin-top: 41pt;
    }
    
    /* Picture with text allignment */
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
    }
    
    /* .left is BLONDES */
    .left{
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 30pt;
    }
    
    /* .middle is BRUNETTES */
    .middle{
        grid-row: 2/3;
        grid-column: 2/3;
        padding-left: 27pt;
    }
    
    /* .right is WILD ONES */
    .right{
        grid-row: 2/3;
        grid-column: 3/4;
        margin-left: 25px;
    }
    
    /* This is size and border for display pictures */
    img.showCase{
        height: 230pt;
        width: 250pt;
        border: 2px solid #f2f2f0;
    }
    
    /* This is font, size, and allignment of text under display pictures */
    section p{
        font-family: 'Gloock', serif;
        font-size: 25px;
        padding-left: 73px;
        letter-spacing: 5px;
    }
    
    .left p{
        width: 200px;
        padding-left: 89px;
    }

    footer {
        margin-top: 133px;
    }

    span {
        padding-left: 174px;
    }

    ul {
        margin-right: 220px;
        gap: 18px;
    }
}
