body{
    height: 100vh;
    width: 100vw;
}

/* \\everything within header\\ */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 216pt;
}

img#salonLogo{
    height: 153pt;
    width: 427pt;
    margin-top: 14pt;
}

nav{
    word-spacing: 32px;
    margin-top: 6pt;
    margin-left: 21pt;
}

a{
    font-family: 'Gloock', serif;
    color: black;
    text-decoration: none;
}

/* This is the grid in page  */
.gridContainer{
    display: grid;
    grid-template-rows: 60% 40%;
    position: relative;
    }

/* This is main picture and the wording displayed on top of picture */
    img#backgroundPicture{
    height: 558pt;
    width: 100vw;
    grid-row: 1/2;
}

p.imageText{
    grid-row: 1/2;
    position: absolute;
    font-family: 'Gloock', serif;
    font-size: 20px;
}

#white{
    margin-top: 9%;
    margin-left: 50%;
    background-color: white;
    height: 44px;
    width: 425px;
    font-size: 30px;
    padding-top: 18pt;
    padding-left: 24pt;
}

#black{
    margin-top: 14%;
    margin-left: 50%;
    background-color: black;
    color: white;
    height: 34px;
    width: 472px;
    padding-top: 7pt;
    padding-left: 13pt;
}

#black2{
    margin-top: 18%;
    margin-left: 50%;
    background-color: black;
    color: white;
    height: 33px;
    width: 437px;
    padding-top: 7pt;
    padding-left: 13pt;
}

#black3{
    margin-top: 22%;
    margin-left: 50%;
    background-color: black;
    color: white;
    height: 31px;
    width: 332px;
    padding-top: 7pt;
    padding-left: 13pt;
}

button{
    grid-row: 1/2;
    position: absolute;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    margin-top: 26%;
    margin-left: 50%;
    color: #fff;
    background-color: #FFBF00;
    border-color: #FFBF00;
    height: 60px;
    width: 130px;
}

/* This .bottomRow is the bottom row of the grid.
It contains the 3 displayed pictures with picture names */

.bottomRow{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 41pt;
}

/* Picture with text allignment */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

/* .left is BLONDES */
.left{
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 348pt;
}

/* .middle is BRUNETTES */
.middle{
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 148pt;
}

/* .right is WILD ONES */
.right{
    grid-row: 2/3;
    grid-column: 3/4;
    margin-left: -71px;
}

/* This is size and border for display pictures */
img.showCase{
    height: 230pt;
    width: 250pt;
    border: 2px solid #f2f2f0;
}

/* This is font, size, and allignment of text under display pictures */
section p{
    font-family: 'Gloock', serif;
    font-size: 25px;
    padding-left: 73px;
    letter-spacing: 5px;
}

.left p{
    width: 200px;
    padding-left: 89px;
}

/* Below is all footer design */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 57px 0 42px;
    background-color: #f2f2f0;
    width: 100vw;
}

span{
    padding-left: 429px;
}

ul{
    display: flex;
    padding-right: 362px;
    gap: 20px;
}

li.twitter {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
        height:  44px;
        width: 44px;
        margin: 0;
        padding: 0;
        text-indent: -99999px;
}

li.facebook{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -44px;
}

li.google {
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -88px;
}


li.pinterest{
    background: url(https://freewebsitetemplates.com/preview/mustacheenthusiast/images/icons.jpg) no-repeat 0 0;
    height:  44px;
    width: 44px;
    background-position: 0 -132px;
}
